@model  LibrarySystemMVC.Models.BorrowingModel

<h2> Create Book</h2>

@using (Html.BeginForm("Create", "Borrowing", FormMethod.Post))
{
    <div class="form-group" style="margin-top:30px;">
        @*<b>Book Name:</b>@Html.DropDownListFor(m => m.Book.Id, (List<SelectListItem>)ViewBag.publish, new { @class = "form-control" })*@
        <b>Book Name:</b>@Html.DropDownList("BookName", new SelectList("BookId", "BookName"), new { htmlAttributes = new { @class = "txtBox" } })
        <input type="submit" />
        <b>Borrow Date:</b>@Html.TextBoxFor(x => x.BorrowDate, new { @class = "form-control" })

        <b>Due Date:</b>@Html.TextBoxFor(x => x.DueDate, new { @class = "form-control" })

        <b>Return Date:</b>@Html.TextBoxFor(x => x.ReturnDate, new { @class = "form-control" })


        <b>User Name:</b>@Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })

    </div>

    <div class="form-group">
        <button class="btn btn-info"> Save </button>
    </div>
}