@model IEnumerable<LibrarySystemMVC.Models.BookModel>


@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@foreach (var item in Model)
{
    <div class="form-horizontal">
        <h4>Product Model</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                ISBN No :
                @*@Html.LabelFor(model => model.ISBNNO, htmlAttributes: new { @class = "control-label col-md-2" })*@
                @Html.EditorFor(model => item.ISBNNO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => item.ISBNNO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.BookName, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                Book Name :
                @Html.EditorFor(model => item.BookName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => item.BookName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.PageNumber, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                Page Number :
                @Html.EditorFor(model => item.PageNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => item.PageNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Language, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                Language :
                @Html.EditorFor(model => item.Language, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => item.Language, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                Category :
                <select class="form-control" name="name" id="category" value=@item.Category>
                    <option value="0" selected>please select</option>
                </select>
                @Html.EditorFor(model => item.Category, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => item.Category, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.NumberOfBook, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                Number Of Book :
                @Html.EditorFor(model => item.NumberOfBook, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => item.NumberOfBook, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Edition, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                Edition :
                @Html.EditorFor(model => item.Edition, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => item.Edition, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Editor, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                Editor :
                @Html.EditorFor(model => item.Editor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => item.Editor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.NumberOfBook, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                Author Name :
                @Html.EditorFor(model => item.AuthorInfo.AuthorName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => item.AuthorInfo.AuthorName, "", new { @class = "text-danger" })
            </div>
        </div>
        @*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*@

        <div class="form-group">
            @*@Html.LabelFor(model => model.NumberOfBook, htmlAttributes: new { @class = "control-label col-md-2" })*@
            @*<div class="col-md-10">
                Author Surname :
                @Html.EditorFor(model => item.AuthorInfo.AuthorSurname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => item.AuthorInfo.AuthorSurname, "", new { @class = "text-danger" })
            </div>*@
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.NumberOfBook, htmlAttributes: new { @class = "control-label col-md-2" })*@
            @*<div class="col-md-10">
                Author Email :
                @Html.EditorFor(model => item.AuthorInfo.AuthorEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => item.AuthorInfo.AuthorEmail, "", new { @class = "text-danger" })
            </div>*@
        </div>
        @*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*@

        <div class="form-group">
            @*@Html.LabelFor(model => model.NumberOfBook, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                Publisher :
                @Html.EditorFor(model => item.PublisherInfo.PublisherName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => item.PublisherInfo.PublisherName, "", new { @class = "text-danger" })
            </div>
        </div>

        @*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*@
        <div class="form-group">
            @*@Html.LabelFor(model => model.NumberOfBook, htmlAttributes: new { @class = "control-label col-md-2" })*@
            @*<div class="col-md-10">
                Phone Number :
                @Html.EditorFor(model => item.PublisherInfo.PublisherPhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => item.PublisherInfo.PublisherPhoneNumber, "", new { @class = "text-danger" })
            </div>*@
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.NumberOfBook, htmlAttributes: new { @class = "control-label col-md-2" })*@
            @*<div class="col-md-10">
                Address :
                @Html.EditorFor(model => item.PublisherInfo.PublisherAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => item.PublisherInfo.PublisherAddress, "", new { @class = "text-danger" })
            </div>*@
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.NumberOfBook, htmlAttributes: new { @class = "control-label col-md-2" })*@
            @*<div class="col-md-10">
                Website :
                @Html.EditorFor(model => item.PublisherInfo.PublisherWebsite, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => item.PublisherInfo.PublisherWebsite, "", new { @class = "text-danger" })
            </div>*@
        </div>

        @*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*@


        <div class="form-group">
            @*@Html.LabelFor(model => model.NumberOfBook, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                Publish Year :
                @Html.EditorFor(model => item.PublisherInfo.PublishYear, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => item.PublisherInfo.PublishYear, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        }



    </div>
}
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

