@model  LibrarySystemMVC.Models.BookModel

<br />
<h2> Create Book</h2>

@using (Html.BeginForm("Create", "Book", FormMethod.Post))
{
    <div class="form-group" style="margin-top:30px;">
        <b>ISBN No:</b>@Html.TextBoxFor(x => x.ISBNNO, new { @class = "form-control" })
        <b>Book Name:</b>@Html.TextBoxFor(x => x.BookName, new { @class = "form-control" })
        <b>Page Number:</b>@Html.TextBoxFor(x => x.PageNumber, new { @class = "form-control" })
        <b>Language:</b>@Html.TextBoxFor(x => x.Language, new { @class = "form-control" })
        <label for="category">Category:</label>
        <select class="form-control" name="category" id="category">
            <option selected value="Anonim">Please Select</option>
            <option value="Novel">Novel</option>
            <option value="Classics">Classics</option>
            <option value="Horror">Horror</option>
            <option value="Historical Fiction">Historical Fiction</option>
        </select>
        <b>Number of book:</b>@Html.TextBoxFor(x => x.NumberOfBook, new { @class = "form-control" })
        <label for="editor">Editor:</label>
        <select class="form-control" name="editor" id="editor">
            <option selected value="Anonim">Please Select</option>
            <option value="Merve Kalay">Merve Kalay</option>
            <option value="Zehra Güneş">Zehra Güneş</option>
            <option value="Aras Bulut">Aras Bulut</option>
        </select>
        <b>Edition:</b>@Html.TextBoxFor(x => x.Edition, new { @class = "form-control" })
        <label for="author">Author:</label>
        <select class="form-control" name="author" id="author">
            <option selected value="Anonim">Please Select</option>
            <option value="Damla Topçu">Damla Topçu</option>
            <option value="Emre Işık">Emre Işık</option>
            <option value="Şevval Yıldız">Şevval Yıldız</option>
        </select>
        <label for="publisher">Publisher:</label>
        <select class="form-control" name="publisher" id="publisher">
            <option selected value="Anonim">Please Select</option>
            <option value="Hilal Yüce">Hilal Yüce</option>
            <option value="Emre Salman">Emre Salman</option>
        </select>
        <b>Publish Year:</b>@Html.TextBoxFor(x => x.PublishYear, new { @class = "form-control" })

    </div>

    <div class="form-group">
        <button class="btn btn-info"> Save </button>
    </div>
}