@model IEnumerable<LibrarySystemMVC.Models.BookModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ISBN No 
        </th>
        <th>
            Book Name 
        </th>
        <th>
            Page Number 
        </th>
        <th>
            Language 
        </th>
        <th>
            Category 
        </th>
        <th>
            Number Of Book 
        </th>
        <th>
            Author Name
        </th>
        <th>
            Publisher Name
        </th>
        <th>
            Publish Year
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.ISBNNO)
        </td>
        <td>
            @Html.DisplayFor(model => item.BookName)

        </td>
        <td>
            @Html.DisplayFor(model => item.PageNumber)
        </td>
        <td>
            @Html.DisplayFor(model => item.Language)
        </td>
        <td>
            @Html.DisplayFor(model => item.Category)
        </td>
        <td>
            @Html.DisplayFor(model => item.NumberOfBook)
        </td>
        <td>
            @Html.DisplayFor(model => item.AuthorInfo.AuthorName)
        </td>
        <td>
            @Html.DisplayFor(model => item.PublisherInfo.PublisherName)
        </td>
        <td>
            @Html.DisplayFor(model => item.PublisherInfo.PublishYear)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
            @Html.ActionLink("Details", "Details", new {id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
