@model IEnumerable<LibrarySystemMVC.Models.BookModel>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<h2>List Of Book</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<br />
<table class="table">
    <tr>
        <th>
            ISBN No
        </th>
        <th>
            Book Name
        </th>
        <th>
            Page Number
        </th>
        <th>
            Language
        </th>
        <th>
            Category
        </th>
        <th>
            Number Of Book
        </th>
        <th>
            Editor
        </th>
        <th>
            Edition
        </th>
        <th>
            Author
        </th>
        <th>
            Publisher
        </th>
        <th>
            Publish Year
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.ISBNNO)
            </td>
            <td>
                @Html.DisplayFor(model => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(model => item.PageNumber)
            </td>
            <td>
                @Html.DisplayFor(model => item.Language)
            </td>
            <td>
                @Html.DisplayFor(model => item.Category)
            </td>
            <td>
                @Html.DisplayFor(model => item.NumberOfBook)
            </td>
            <td>
                @Html.DisplayFor(model => item.Editor)
            </td>
            <td>
                @Html.DisplayFor(model => item.Edition)
            </td>
            <td>
                @Html.DisplayFor(model => item.Author)
            </td>
            <td>
                @Html.DisplayFor(model => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(model => item.PublishYear)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BookId }) |
                @Html.ActionLink("Details", "Details", new { id = item.BookId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BookId })
            </td>

        </tr>
    }

</table>
