@model IEnumerable<LibrarySystemMVC.Models.UsersModel>

@{
    ViewBag.Title = "Index";
}

<h2>ADMIN - LIST OF USER</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Email

        </th> 
        <th>
            Password

        </th>
        <th>
            User Role

        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.UserEmail)
        </td>
        <td>
            @Html.DisplayFor(model => item.UserPassword)
        </td>
        <td>
            @Html.DisplayFor(model => item.UserRole)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |
            @Html.ActionLink("Details", "Details", new { id = item.UserId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Logout", "Logout")
</p>