@model LibrarySystemMVC.Models.PublisherModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Publisher Name :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublisherName)
        </dd>

        <dt>
            Phone Number :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublisherPhoneNumber)
        </dd>

        <dt>
            Address :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublisherAddress)
        </dd>

        <dt>
            Website :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublisherWebsite)
        </dd> 
        
        <dt>
            Publish Year :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishYear)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
